
        <div class="header">
           
            <div class="container">
                <div class="top-icons">
                  
                </div>
                <div class="row">
                    <div class="col-8">
                        <img src="https://i.postimg.cc/521rVkhD/image.png" class="host-img">
                        <div class="contarols">
                           
                            <img src="https://i.postimg.cc/fyJH8G00/call.png" class="call-icon">
                    
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                       
                        <div class="invite">
                            <p>Invite More People</p>
                            <div>
                                <img src="https://i.postimg.cc/7LHjgQXS/user-1.png">
                                <img src="https://i.postimg.cc/q71SQXZS/user-2.png">
                                <img src="https://i.postimg.cc/h4kwCGpD/user-3.png">
                                <img src="https://i.postimg.cc/GtyfL0hn/user-4.png">
                                <img src="https://i.postimg.cc/FFd8gSbC/user-5.png">
                            </div>
                        </div>
                        <div class="joined">
                            <p>People Joined</p>
                            <div>
                              
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
 