<main class="content">
  <div class="container p-0">
    <h1 class="h3 mb-3">Messages</h1>

    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">
          <div class="px-4 d-none d-md-block">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <input
                  type="text"
                  class="form-control my-3"
                  placeholder="Search..."
            
                />
              </div>
            </div>
            <div >
              <div>

              
              </div>
              
            </div>
          </div>

          <hr class="d-block d-lg-none mt-1 mb-0" />
        </div>
        <div class="col-12 col-lg-7 col-xl-9">
          <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1">
              <div class="position-relative">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar3.png"
                  class="rounded-circle mr-1"
                  alt="Sharon Lessman"
                  width="40"
                  height="40"
                />
              </div>
              <div class="flex-grow-1 pl-3">
                <strong>{{ this.thisUser?.username }}</strong>
                <div class="text-muted small"><em>Typing...</em></div>
              </div>
              <div>
              
               
              
              </div>
            </div>
          </div>

          <div class="position-relative">
            <div class="chat-messages p-4">
              <div #chat id="chat" class="card-body msg_card_body">
                <!--messages - start> -->
                <div *ngFor="let msg of messages | async">
                  <div
                    class="d-flex justify-content-start mb-4"
                    *ngIf="msg.sender === this.thisUser!.username; else thisUserMsg"
                  >
                    <div class="img_cont_msg">
                      <img [src]=" this.currentUser" class="rounded-circle user_img_msg" />
                    </div>
                    <div class="">
                      <div
                        class="msg_cotainer flex-shrink-1 bg-light rounded py-2 px-3 mr-3"
                      >
                        {{ msg.content }}
                      </div>
                      <div class="text-muted small text-nowrap mt-2">
                        {{ whenWasItPublished(msg.t_stamp) }}
                      </div>
                    </div>
                  </div>

                  <ng-template #thisUserMsg>
                    <div class="d-flex justify-content-end mb-4">
                      <div
                        class="msg_cotainer_send flex-shrink-1 bg-light rounded py-2 px-3 mr-3"
                      >
                        {{ msg.content }}
                      </div>

                      <div class="img_cont_msg">
                        <img 
                        [src]="photto" 
                 
                          class="rounded-circle user_img_msg"
                        />
                      </div>
                    </div>
                  </ng-template>
                </div>
                <!--messages - end-->
              </div>
            </div>
            <div class="flex-grow-0 py-3 px-4 border-top">
              <div class="input-group">
                <input
                  [formControl]="newMessage"
                  type="text"
                  class="form-control"
                  placeholder="Type your message"
                />
                <button class="btn btn-primary" (click)="sendMsg()">
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
