

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h2 class="page-title"></h2>
  
        <div class="d-inline-block align-items-center">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">
                  <h4><i class="ti-view-list-alt"></i></h4
                ></a>
              </li>
  
              <li class="breadcrumb-item active" aria-current="page">
                <h4>List of learners</h4>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <br>
<section class="content">
    
    <div class="row">

       
	  <div class="col-lg-3 col-12" *ngFor="let item of users; let i=index">
      <div class="card">
        <div class="box"  >
           
            <div class="box" class=".by-3">
            <div class="table-responsive" >
            <div class="box-body text-center" >
                <div class="mb-5 mt-5">
                    <img src="{{ base_picture+item.photo }}" width="80" class="rounded-circle bg-info-light" alt="user" />
                    <h4 class="mt-20 mb-0">{{item.username}}</h4>
                    <a href="mailto:dummy@gmail.com">{{item.email}}</a>
                </div>
                <div class="badge badge-pill badge-info-light font-size-16">  <a    data-toggle="modal"
                  (click)="getbyid(item.id)"
                  data-target="#myModal"><i class="ti-marker-alt"></i></a> </div>
      
                <div class="badge badge-pill badge-danger-light font-size-16"><a   (click)="removeUser(item.id)"><i class="ti-trash"></i></a></div>
                <div class="badge badge-pill badge-warning-light font-size-16" data-toggle="tooltip" data-placement="top" title="3 more"><a   [routerLink]="['/home/chat',item.id]"><span class="icon-Mail font-size-20 mr-5"></span></a></div>
            </div>
            <div class="p-15 mt-15 bt-1">
                <div class="row text-center">
                
                    <h6>{{item.demandes.length}} Courses</h6>
                </div>
            </div>
        </div>
    </div>
    </div>


    </div>
  </div>
</div>
</section>


<div
  id="myModal"
  class="modal fade in"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Info</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="formUser">
          <div class="form-group">
            <label class="col-md-12">Name</label>
            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                formControlName="username"
              />
            </div>
            <label class="col-md-12">Email</label>
            <div class="col-md-12">
              <input
                type="email"
                class="form-control"
                placeholder=""
                formControlName="email"
              />
            </div>
            <label class="col-md-12">Phone</label>
            <div class="col-md-12">
              <input
                type="tel"
                class="form-control"
                placeholder=""
                formControlName="phone"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Address</label>
            <div class="col-md-12">
              <textarea
                class="form-control"
                placeholder=""
                formControlName="adress"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-dismiss="modal"
              (click)="EditUsers()"
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-default float-right"
              data-dismiss="modal"

            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>